/* RESET */
body, p, h1, ul, li, blockquote{
    margin: 0px;
    padding: 0px;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    display: block;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #302B2B;
    font-family: 'Vollkorn', serif;
}

/* ESTILOS */

@keyframes girar{
    100%{
        transform: rotate(360deg);
    }
}

svg{
    width: 25vh;
    height: 25vh;
}